* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

span {
    color: #f9004d;
}

.head {
    width: 100%;
    height: 100vh;
    background-image: url('1.jpg');
    background-position: center;
    background-size: cover;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 45px 8% 0px;
}

.main ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.main ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all .4s;
}

.main ul li a:hover {
    color: #f9004d;
}

.main .btn {
    color: white;
    background-color: #f9004d;
    font-weight: bold;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 30px;
    transition: .4s;
}

.btn:hover {
    transform: scale(1.2);
    border-color: white;
}

.main h2 {
    color: white;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.head .intro {
    color: white;
    position: absolute;
    bottom: 30%;
    left: 8%;
}

.head .intro h4 {
    color:#fcfc;
    font-size:20px;
    letter-spacing: 2px;
}

.head .intro h1 {
    font-size:75px;
    margin: 20px 0px;
}

.head .intro h3 {
    font-size: 25px;
    margin-bottom: 50px;
}

 .newsletter form {
    width: 380px;
    /* max-width: 100%; */
    position:relative;
}


.newsletter form input:first-child {
    /* display: inline-block; */
    width: 100%;
    padding: 14px 130px 14px 15px;
    border-radius: 30px;
    border:2px solid #f9004d;
    outline:none;
} 

.newsletter form input:last-child {
    position: absolute;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    color:white;
    background-color: #f9004d;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top:6px;
    right:6px;
}

.container {
    width:100%;
    background-color: #191919;
    padding: 100px 0px;
}

.about {
    width:90vw;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.about-text{
    width:550px;
}

.about-text h2 {
    color: white;
    font-size: 75px;
    margin-bottom: 20px;
}

.about-text h4 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
}

.about-text p {
    color:#fcfc;
    line-height: 28px;
    font-size :18px;
    margin-bottom: 45px;
}

.about img {
    width:430px;
}

.about button {
    padding:13px 30px;
    font-weight: bold;
    color:white;
    border-radius: 30px;
    background-color: #f9004d;
    border: 2px solid transparent;
    transition:.4s;
    cursor: pointer;
}

.about button:hover {
    border-color: #f9004d;
    background-color: transparent;
}

.services {
    width:100%;
    padding: 100px 0px;
    background-color: #101010;
}

.title h2 {
    color: white;
    font-size: 75px;
    margin:30px auto;
    text-align: center;
}

.box {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    width:335px;
    height: 365px;
    padding: 0px 35px;
    background-color: #191919;
    margin: 15px;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    margin:25px 0px;
    text-align: center;
    color:#f9004d;
}

.card h5 {
    color: white;
    font-size: 23px;
    margin-bottom:10px;
}

.card .para p{
    color: #fcfc;
    font-size: 16px;  
    line-height: 27px;
    margin-bottom: 25px;
}

.card a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    padding: 10px 30px;
    background-color: #f9004d;
    border:2px solid transparent;
    border-radius: 30px;
    transition:.4s;
}

.card a:hover {
    background-color: transparent;
    border-color: #f9004d;
}

.contact-me {
    width: 100%;
    height:290px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact-me p {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
}

.contact-me a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    padding: 10px 30px;
    background-color: #f9004d;
    border:2px solid transparent;
    border-radius: 30px;
    transition:.4s;
}

.contact-me a:hover {
    background-color: transparent;
    border-color: #f9004d;
}

footer {
    width: 100%;
    height: 400px;
    background-color: #101010;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p:nth-child(1){
    font-size:30px;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

footer .social {
    display:flex;
    padding: 20px 0px;
    margin-bottom:70px;
}

footer .social a {
    display: inline-block;
    width: 45px;
    height: 45px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9004d;
    border-radius: 50%;
    margin: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    border:2px solid transparent;
    transition: .3s;
} 

footer .social a:hover {
    transform: scale(1.1);
    background-color: transparent;
    border-color: #f9004d;
}

.end  {
    font-size: 14px;
    color: rgb(196, 196, 196);
}
